<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/fontawesome.min.css"
    integrity="sha384-z4tVnCr80ZcL0iufVdGQSUzNvJsKjEtqYZjiQrrYKlpGow+btDHDfQWkFjoaz/Zr"
    crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
    crossorigin="anonymous">
    </script>

</head>

<body>

    <div class="jumbotron p-2 m-2 bg-dark text-white">
        <h2 class="display-4">Employee Management System</h2>
        <hr class="my-3">
        <p class="lead">This is a web application to manage employees of an organization.</p>
    </div>

    <div class="container">

        <div class="container mb-1">
            <div class="row rounded-lg bg-primary p-2">
                <div class="col-6">
                    <h1 class="h4 text-white">All Employees</h1>
                </div>
                <div class="col-6">
                    <div class="row">
                        <div class="col-2">
                            <a th:href="@{/}"><button type="button" class="btn btn-info">Home</button></a>
                        </div>
                        <div class="col-10">
                            <form th:action="@{/}" th:object="${employeeToSearch}" method="POST">
                                <div class="input-group">
                                    <input type="number" th:field="*{id}" class="form-control" placeholder="Employee ID">
                                    <div class="input-group-append">
                                      <button type="submit" class="btn btn-dark">Search</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div th:if="${#request.getParameter('query') == 'noSuchEmployee'}" class="alert alert-danger" role="alert">
            Searched employee does not exist.
        </div>
        
        <table class="table table-dark table-hover table-bordered text-center">
            <thead class="thead-dark">
                <th scope="col">ID</th>
                <th scope="col">Full Name</th>
                <!-- <th scope="col">Last Name</th> -->
                <th scope="col">Email</th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
                <tr th:each="employee : ${employeesList}">
                    <td th:text="${employee.id}" scope="row"></td>
                    <td th:text="${employee.firstName} + ' ' + ${employee.lastName}" scope="row"></td>
                    <!-- <td th:text="${employee.lastName}" scope="row"></td> -->
                    <td th:text="${employee.email}" scope="row"></td>
                    <td>
                        <a th:href="@{/updateEmployeee/{id}(id=${employee.id})}"><button type="button" class="btn btn-info">Update</button></a>
                        <a th:href="@{/deleteEmployee/{id}(id=${employee.id})}"><button type="button" class="btn btn-danger">Delete</button></a>
                    </td>
                </tr>
            </tbody>
        </table>

        <a th:href="@{/addEmployee}"><button type="button" class="btn btn-success mb-2">Add Employee</button></a>

        <div th:if="${totalPages > 1}">
            <div class="row mb-2 border border-primary rounded">
                <div class="col-2">
                    <div class="font-weight-bold">
                        Total Employees: <span class="font-italic" th:text="${totalEmployees}"></span>
                    </div>
                </div>
                <div class="col-10">
                    <div class="row float-right">
                        <div class="col-4">
                            <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                                <a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}}">[[${i}]]</a>
                                <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
                            </span>
                        </div>
                        <div class="col-2">
                            <a th:if="${currentPage > 1}" th:href="@{'/page/1'}">First</a>
                            <span th:unless="${currentPage > 1}">First</span>
                        </div>
                        <div class="col-2">
                            <a th:if="${currentPage > 1}" th:href="@{'/page/' + ${currentPage - 1}}">Prev</a>
                            <span th:unless="${currentPage > 1}">Prev</span>
                        </div>
                        <div class="col-2">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}}">Next</a>
                            <span th:unless="${currentPage < totalPages}">Next</span>
                        </div>
                        <div class="col-2">
                            <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}}">Last</a>
                            <span th:unless="${currentPage < totalPages}">Last</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</body>
</html>