<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Management System</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
    integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>

    <div class="jumbotron p-2 m-2 bg-dark text-white">
        <h2 class="display-4">Employee Management System</h2>
        <hr class="my-3">
        <p class="lead">This is a web application to manage employees of an organization.</p>
    </div>

    <div class="container rounded-lg p-2">

        <p class="h4 bg-primary text-white p-2 rounded-lg text-center">Update the Employee Details</p>

        <form th:action="@{/addEmployee}" th:object="${employee}" method="POST">

            <div class="form-group">
                <input type="hidden" th:field="*{id}">
            </div>

            <div class="form-group">
                <label for="emp-firstName">Employee First Name:</label>
                <input type="text" th:field="*{firstName}" class="form-control" id="emp-firstName" placeholder="First Name" required>
            </div>

            <div class="form-group">
                <label for="emp-lastName">Employee Last Name:</label>
                <input type="text" th:field="*{lastName}" class="form-control" id="emp-lastName" placeholder="Last Name" required>
            </div>

            <div class="form-group">
                <label for="emp-email">Employee Email ID:</label>
                <input type="email" th:field="*{email}" class="form-control" id="emp-email" placeholder="Email" required>
            </div>

            <button type="submit" class="btn btn-success">Update Employee</button>
            <a th:href="@{/}"><button class="btn btn-success">Cancel</button></a>

        </form>

    </div>
    
</body>
</html>